name: BUILD CICD-MINIO IMAGE

on:
  push: 
    branches: [ main ]
  schedule:
    - cron: '0 15 3,15 * *' # The 15th every month at 8:00

env:
  VERSION: dev
  MINIO_ACCESS_KEY: minioadmin 
  MINIO_SECRET_KEY: minioadmin

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - 
        name: Checkout local
        uses: actions/checkout@v4
      -
        name: Login to GitHub Container Registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
            registry: ghcr.io
            username: ${{ github.repository_owner }}
            password: ${{ secrets.GITHUB_TOKEN }}
      -
        name: Fetch latest version
        run: |
          python3 .github/workflows/docker-version.py >> $GITHUB_ENV
      - 
        name: Build and export to Docker
        uses: docker/build-push-action@v5
        with:            
          context: .
          push: true
          tags: |
            ghcr.io/elri/minio-cicd:latest 
            ghcr.io/elri/minio-cicd:${{ env.VERSION }}
          build-args: |
            VERSION=${{ env.VERSION }}
            MINIO_ROOT_USER: ${{ env.MINIO_ACCESS_KEY }}
            MINIO_ROOT_PASSWORD: ${{ env.MINIO_SECRET_KEY }}